* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
main {
  margin: 0 220px;
}
/* header  */
header {
  background-image: url(../images/banner/banner1.png);
  width: 100%;
  height: 800px;
}
.banner {
  text-align: right;
  padding: 200px 230px 0 0;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
}
.banner-description {
  margin: 24px 0;
  color: #444343;
  font-size: 16px;
  line-height: 26px;
}
.btn {
  background-color: rgb(94, 138, 250);
  margin: 8px 0;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* about  */

.about {
  margin: 120px 0;
}
.about-title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 12px;
  color: #151414;
}
.about-desc {
  color: #444343;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}
/* failure  */
.failure {
  display: flex;
  align-items: center;
}
.img-holder {
  width: 50%;
  padding: 0 80px 0 0;
  text-align: right;
}
.img-holder img {
  width: 350px;
  height: 500px;
}
.fail-details {
  width: 50%;
  text-align: left;
  padding-right: 50px;
}
.fail-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
  color: #151414;
}
.fail-desc {
  color: #444343;
}

/* plan  */
.my-plan-holder {
  margin: 120px 0;
  text-align: center;
}
.my-plan {
  display: flex;
  justify-content: space-between;
}
.my-plan-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #151414;
}
.plan-title {
  font-weight: bold;
  margin: 15px 0 10px 0;
  color: #151414;
}
.plan-desc {
  color: #444343;
}

/* call now  */
.call-now {
  margin-bottom: 120px;
}
.call-now-holder {
  background-image: linear-gradient(
    to right,
    rgba(19, 19, 110, 0.927),
    rgb(94, 138, 250)
  );
  margin: 0 50px;
  padding: 40px 60px;
  border-radius: 5px;
}
.call-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.call-btn {
  margin: 20px 0 0 0;
  color: rgb(94, 138, 250);
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
}
/* footer  */
